*{margin: 0% ;
    padding:0%;}
.Form-main{
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    padding:30px 0;
    top: 80px;
    position:relative;
    height: 500px;
    width: 70%;
    margin: auto;
    background:linear-gradient(to bottom,rgb(228, 228, 255),rgb(211, 211, 255));
    border: 1.5px solid rgb(192, 191, 191);
    font-family: 'Raleway', sans-serif;
}
table, td{
    border: 1px solid black;
  }
  
  td,th {
    padding: 10px;
  }
  tr:nth-child(odd) {
    background-color: #ffffff;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }

body{
    background: linear-gradient(to bottom, #4facfe, #00f2fe);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
}  